REQUIREMENTS FOR ENSEMBLE LEARNING ML PROEJECT 
 
RANDOM FOREST REGRESSOR
GRADIENT BOOSTING REGRESSOR 
PANDAS
NUMPY 
MATPLOTLIB
SEABORN
STANDARDSCALAR 
LABEL ENCODER 
TRAIN TEST SPLIT 
VOTING REGRESSOR 
XGBOOST 
R2 SCORE
MEAN ABSOLUTE ERROR 
14. MEAN SQUARED ERROR
15. CORRELATIO MATRIX  
